*.btr
*.la
*.lo
*.log
*.o
*.trs
*.tar.gz
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build/*
compile
config.h
config.h.in
config.log
config.status
configure
configure~
depcomp
hello
install-sh
libtool
missing
src/.deps/
stamp-h1
test-driver
