*.la
*.lo
*.log
*.o
*.trs
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
configure~
depcomp
hello
install-sh
libtool
missing
src/.deps/
src/fi_getinfo
stamp-h1
test-driver
